/vendor
/validator/imported/node_modules
/validator/imported/graphql-js

.idea/
# Rumdl - markdown linter cache
.rumdl_cache
# Vale - grammar checker and style lint
.vale
# Added by goreleaser init:
dist/
