{
  "presets": [["env", {
    "targets": {"node": "current"}
  }]],
  "plugins": [
    "syntax-async-functions",
    "syntax-async-generators",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["transform-es2015-classes", {"loose": true}],
    ["transform-es2015-destructuring", {"loose": true}],
    ["transform-es2015-spread", {"loose": true}]
  ]
}