# .npmrc
# engine-strict=true is so npm will stubbornly refuse
#   to install (or even consider installing) any package
#   that claims to not be compatible with the current Node.js version.
engine-strict=true
