name: test
on:
  push:
    branches:
    - "master"
  pull_request: {}
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16.2'
    - name: vet
      run: go vet ./...
    - name: test
      run: go test ./...